<h1 class="page-title mb-0">
    {{ 'kiora_sylius_mondial_relay.ui.configuration'|trans }}
</h1>
<div class="text-secondary mt-1">{{ 'kiora_sylius_mondial_relay.ui.configuration_subtitle'|trans }}</div>
